<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div class="imagen">
        <a href="/"><img src="/logo-mercado-liebre.svg" alt="Logotipo"></a>
    </div>  
    <div class="searchbar">
        <input type="text" placeholder="Buscar productos..." /><i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    <div class="opciones">
        <div class="navbar">
            <a>Ofertas</a>
            <a>Tiendas Oficiales</a>
            <a>Vender</a>
            <a>Ayuda</a>
        </div>
        <div class="login-bar">
            <a href="register">Crea tu cuenta<i class="fa-solid fa-user-plus"></i></a>
            <a href="login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a>
            <a>Mis compras<i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <button type="button" class="burger-menu"><i class="fas fa-bars"></i></button>
    </div>
    
</header>
<main>
    <img width="100%" src="/img-home-banner.jpg" alt  = "banner" />
    <ul><h2>Basado en tu última visita</h2></ul>
        <div class="producto">
            <div class="objeto">
                <img width="100%" src="/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="caja">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
        <div class="objeto">
            <img width="100%" src="/img-macbook-pro-2019.jpg" alt="Macbook">
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </div>
        </div>
        <div class="objeto">
            <img width="100%" src="/img-samsung-galaxy-s10.jpg" alt="Samsung">
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </div>
        <div class="objeto">
            <img width="100%" src="/img-tv-samsung-smart.jpg" alt="SmartTv">
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
        </div>
    </div>
    <ul><h2>Ofertas</h2></ul>
    <div class="producto">
        <div class="objeto">
            <img width="100%" src="/img-cafetera-moulinex.jpg" alt="Cafetera">  
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
        </div>
        <div class="objeto">
            <img width="100%" src="/img-macbook-pro-2019.jpg" alt="Macbook">
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </div>
        </div>
        <div class="objeto">
            <img width="100%" src="/img-samsung-galaxy-s10.jpg" alt="Samsung">
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </div>
        <div class="objeto">
            <img width="100%" src="/img-tv-samsung-smart.jpg" alt="SmartTv">
            <div class="caja">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
        </div>
    </div>
</main>
<footer>
    
    <ul class="bot">
        <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </ul>
    <ul class="bot">
        <div class="icon"><i class="fa-solid fa-gift"></i></div>
        <h3>Envio gratis desde los $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </ul>
    <ul class="bot">
        <div class="icon"><i class="fa-solid fa-user-shield"></i></div>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </ul>
    <ul>Copyright © 1999-2020 MercadoLiebre S.R.L.</ul>
</footer>
</body>
</html>